<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suvidha Foundation Events!</title>
    <link rel="stylesheet" href="styleevent.css">
</head>
<body>
    <div class="slide-container">
        <div class="slide-content">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="Tree_plantion.jpg" alt="Tree-plantation" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Tree Plantation</h2>
                        <p class="description">Lorem ipsum dolor sit, amet <br>consectetur adipisicing elit. <br>Deleniti dignissimos atque, corrupti unde ab <br>quae aliquam rerum corporis<br> ipsam excepturi eveniet non maiores dicta?<br> Laudantium sint hic asperiores eligendi autem?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>